@section Styles{
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link href="~/Content/allFontAweSome.css" rel="stylesheet" />
}
<div id="HomePage">
    <div class="container-fluid">
        <img class="img_homepage" src="https://file.hstatic.net/1000003969/file/banner-web-1920x870_11dbc8709a284e4b87b8d04a36928a5c.jpg" alt="Alternate Text" />
    </div>
    <div class="container-fluid" style="display:flex; flex-wrap: wrap; flex-direction:column;">
        <div class="index_item_flame col-md-12">
            <div class="col-md-12 title_flame">
                <span>NHÓM SẢN PHẨM ĐƯỢC QUAN TÂM NHẤT</span>
            </div>
            <div class="col-md-12 group_product display-flex">
                <div class="item_group_product">
                    <div class="img_group_product">
                        <img src="https://file.hstatic.net/1000003969/file/5_8d81983954a240559f80e814177f07f6.jpg" alt="Alternate Text" />
                    </div>
                    <div class="title_group_product">
                        <span>GIÀY CAO GÓT</span>
                    </div>
                </div>
                <div class="item_group_product">
                    <div class="img_group_product">
                        <img src="https://file.hstatic.net/1000003969/file/6_c2bf4d613b094da08b5b602a1338bd1d.jpg" alt="Alternate Text" />
                    </div>
                    <div class="title_group_product">
                        <span>TÚI XÁCH NHỎ</span>
                    </div>
                </div>
                <div class="item_group_product">
                    <div class="img_group_product">
                        <img src="https://file.hstatic.net/1000003969/file/7_b69b769d51024ca8926de35a8a4a0910.jpg" alt="Alternate Text" />
                    </div>
                    <div class="title_group_product">
                        <span>SNEAKERS</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="div_line col-md-12">
            <div class="line_end_div"></div>
        </div>
        <div class="index_item_flame col-md-12">
            @*<div class="col-md-12 title_flame">
                <span>BỘ SƯU TẬP</span>
            </div>
            <div class="center col-md-12" style="display:flex; flex-wrap: wrap;">
                <h1 class="col-md-3">1</h1>
                <h1 class="col-md-3">2</h1>
                <h1 class="col-md-3">3</h1>
                <h1 class="col-md-3">4</h1>
                <h1 class="col-md-3">5</h1>
                <h1 class="col-md-3">6</h1>
            </div>*@
            @*<div class="col-md-12 group_product display-flex">
                <div class="item_group_product">
                    <div class="img_group_product">
                        <img src="https://file.hstatic.net/1000003969/file/5_8d81983954a240559f80e814177f07f6.jpg" alt="Alternate Text" />
                    </div>
                    <div class="title_group_product">
                        <span>GIÀY CAO GÓT</span>
                    </div>
                </div>
                <div class="item_group_product">
                    <div class="img_group_product">
                        <img src="https://file.hstatic.net/1000003969/file/6_c2bf4d613b094da08b5b602a1338bd1d.jpg" alt="Alternate Text" />
                    </div>
                    <div class="title_group_product">
                        <span>TÚI XÁCH NHỎ</span>
                    </div>
                </div>
                <div class="item_group_product">
                    <div class="img_group_product">
                        <img src="https://file.hstatic.net/1000003969/file/7_b69b769d51024ca8926de35a8a4a0910.jpg" alt="Alternate Text" />
                    </div>
                    <div class="title_group_product">
                        <span>SNEAKERS</span>
                    </div>
                </div>
            </div>*@
        </div>
        <div class="div_line col-md-12">
            <div class="line_end_div"></div>
        </div>
        @*<div class="container" style="height:500px;">
            @Html.Partial("TemplateListProduct")
        </div>*@
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/Home/Index.js"></script>
    <script src="~/Scripts/Product/ListProduct.js"></script>
}


