
@{
    ViewBag.Title = "DetailOrders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .box_url_image {
        display: flex;
        box-sizing: border-box;
    }

        .box_url_image div {
            padding: 0 !important;
        }

    .btn_delete_url {
        cursor: pointer;
        padding: 4px 12px;
        border: 1px solid white;
        color: white;
        background: red;
        border-radius: 4px;
    }

        .btn_delete_url:hover {
            border: 1px solid red;
            color: red;
            background: white;
        }

    .box_btn_delete {
        display: flex;
        align-items: start;
    }

    .btn_add_image {
        cursor: pointer;
        padding: 4px 12px;
        border: 1px solid white;
        color: white;
        background: green;
        border-radius: 4px;
    }

        .btn_add_image:hover {
            border: 1px solid green;
            color: green;
            background: white;
        }

    .box_btn_add_image {
        display: flex;
    }

    .border-error {
        border: 1px solid red;
    }

    .border-success {
        border: 1px solid #ced4da;
    }

    .btn_update {
        margin-right: 16px;
    }
    img{
        max-width:200px;
    }
    th {
        background: cornflowerblue;
        color: white;
    }
    tr th, tr td {
        padding: 8px 16px;
    }
</style>
<div id="DetailOrder" class="container-fluid">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">{{TitlePage}}</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" href="https://localhost:44305/Orders/ManageOrders">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-8">
                <form asp-action="Create" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label for="Name" class="control-label">Tên người nhận</label>
                        <input for="Name" v-model="DetailOrder.ShipName" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="ProductCode" class="control-label">Số điện thoại</label>
                        <input for="ProductCode" v-model="DetailOrder.ShipPhone" class="form-control" />
                        <span asp-validation-for="ProductCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Price" class="control-label">Địa chỉ nhận hàng</label>
                        <input for="Price" v-model="DetailOrder.ShipAddress" type="text" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Quantity" class="control-label">Trạng thái đơn hàng</label>
                        <input for="Quantity" type="number" class="form-control" v-model="DetailOrder.Status" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Description" class="control-label">Giá trị đơn hàng</label>
                        <input for="Description" type="text" class="form-control" v-model="DetailOrder.StrPaymentPrice" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Description" class="control-label">Chi tiết đơn hàng</label>
                        <table border="1">
                            <tr>
                                <th>
                                    Tên sản phẩm
                                </th>
                                <th>
                                    Số lượng
                                </th>
                                <th>
                                    Hình ảnh
                                </th>
                            </tr>
                            <tr v-for="item in DetailOrder.LstOrderDetail">
                                <td>{{item.ProductName}}</td>
                                <td>{{item.ProductQuantity}}</td>
                                <td>
                                    <img v-bind:src="item.lstProductImages[0].Url" alt="Alternate Text" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    @*<div class="form-group" style="display:flex;justify-content:end;">
                        <input type="button" value="Thêm mới" class="btn btn-primary" v-if="!ProductId" v-on:click="Submit(0)" />
                        <input type="button" value="Cập nhật" class="btn btn-primary btn_update" v-if="ProductId" v-on:click="Submit(1)" />
                        <input type="button" value="Xóa sản phẩm" class="btn btn-danger btn_delete_product" v-if="ProductId" v-on:click="Submit(2)" />
                    </div>*@
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            
        })
    </script>
    <script src="~/Scripts/Orders/DetailOrders.js"></script>
}
