
@{
    ViewBag.Title = "ManageOrders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    #ManageOrders tr th, #ManageOrders tr td {
        padding: 8px 16px;
    }

    .btn_edit {
        color: green;
        cursor: pointer;
        text-decoration: none;
    }

        .btn_edit:hover {
            text-decoration: underline;
            opacity: 0.7;
        }
    .btn_detail{
        color:blue;
        cursor:pointer;
        text-decoration:none;
    }
        .btn_detail:hover {
            text-decoration: underline;
            opacity: 0.7;
        }

    .btn_delete {
        color: red;
        cursor: pointer;
    }

    .btn_delete:hover {
        text-decoration: underline;
        opacity: 0.7;
    }

    #ManageOrders {
        padding: 2em 4em;
    }

    .box_paging {
        padding: 8px;
    }

    .btn_trans_page {
        cursor: pointer;
        border: solid 1px black;
        height: 40px;
        padding: 8px 16px;
        border-radius: 4px;
    }

    .input_currentpage {
        width: 50px;
        height: 40px;
        border-radius: 5px;
        text-align: center;
    }

    .footer_page {
        display: flex;
        width: 1460px;
    }

    .page_table_row_count {
        padding: 8px;
        display: flex;
        justify-content: flex-end;
    }

        .page_table_row_count select {
            min-height: 40px;
            min-width: 80px;
            border-radius: 4px;
        }

    .box_statistic {
        padding: 8px;
    }

    .column_id {
        width: 40px;
    }

    .btn_add_user {
        padding: 8px 16px;
        color: white;
        background: darkturquoise;
        border-radius: 4px;
        cursor: pointer;
    }

        .btn_add_user:hover {
            opacity: 0.8;
        }

    .box_btn_add {
        padding: 2em 0;
        width: 100%;
        margin-bottom: 1em;
    }

    #ManageOrders h1 {
        margin-bottom: 1em;
    }
    th {
        background: cornflowerblue;
        color: white;
    }
</style>
<div id="ManageOrders">
    <h1>Quản lý đơn đặt hàng</h1>
    <table border="1" style="min-width:1460px;">
        <tr>
            <th class="column_id">ID</th>
            <th>Họ tên người nhận</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ nhận hàng</th>
            <th>Sản phẩm</th>
            <th>Ngày đặt</th>
            <th>Trạng thái đơn hàng</th>
            <th>Giá trị đơn hàng</th>
            <th>Action</th>
        </tr>
        <tr v-for="(order,index) in DataListOrder">
            <td class="column_id">{{order.Id}}</td>
            <td>{{order.ShipName}}</td>
            <td>{{order.ShipPhone}}</td>
            <td>{{order.ShipAddress}}</td>
            <td style="display:flex;flex-direction:column;">
                <span v-for="detail in order.LstOrderDetail">{{detail.ProductName + ' x ' + detail.ProductQuantity}}</span>
            </td>
            <td>{{order.OrderDate?.slice(0,10)}}</td>
            <td>
                <span v-if="order.Status == 1" style="color:blue;">Chờ xác nhận</span>
                <span v-if="order.Status == 2" style="color:darkcyan;">Đang giao</span>
                <span v-if="order.Status == 3" style="color:green;">Đã nhận hàng</span>
                <span v-if="order.Status == 4" style="color:red;">Đã hủy</span>
            </td>
            <td>
                {{order.StrPaymentPrice}}
            </td>
            <td>
                <span v-if="order.Status == 1" class="btn_edit" v-on:click="AcceptOrder(order.Id)">Xác nhận đơn</span>
                <span>  </span>
                <span v-if="order.Status == 1" class="btn_delete" v-on:click="CancelOrder(order.Id)">Hủy đơn</span>
                <p class="btn_detail" v-on:click="DetailOrder(order.Id)">Xem chi tiết</p>
            </td>
            @*<td><a class="btn_edit" v-bind:href="'https://localhost:44305/User/DetailUser?Id='+order.Id">Sửa</a> | <span class="btn_delete" v-on:click="DeleteUser(order.Id)">Xóa</span></td>*@
        </tr>
    </table>
    <div class="footer_page">
        <div class="box_statistic col-md-5">
            {{pageStart}} - {{pageEnd}}/{{totalRowCount}}
        </div>
        <div class="box_paging col-md-5">
            <span v-on:click="FirstPage()" class="btn_trans_page"><<</span>
            <span v-on:click="PrePage()" class="btn_trans_page"><</span>
            <input type="text" name="name" value="" v-model="currentPage" class="input_currentpage" />
            <span v-on:click="NextPage()" class="btn_trans_page">></span>
            <span v-on:click="LastPage()" class="btn_trans_page">>></span>
        </div>
        <div class="page_table_row_count col-md-2">
            <span style="line-height:40px;margin-right:16px;">Page size</span>
            <select v-model="pageSize">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/Orders/ManageOrders.js"></script>
}

