<style>
    .productResize{
        padding:0 2em;
        height:436px;
    }
    .product_block{
        display: block;
    }
    .product_image{
        min-height:250px;
        height:309px;
    }
</style>
<div id="ListProducts" class="" v-for="product in listProducts">
    <div class="col-md-3 productResize">
        <div class="product_block">
            <div class="product_image">
                <a href="#" title="">
                    <img src="https://product.hstatic.net/1000003969/product/kem_bb03091_1_330dcbc520504cd88d475239ef67e2d8.jpg" class="img_loop" alt="Alternate Text" />
                    <img src="https://product.hstatic.net/1000003969/product/kem_bb03091_1_330dcbc520504cd88d475239ef67e2d8.jpg" class="img_loop img_hover" alt="Alternate Text" />
                </a>
            </div>
            <div class="product_detail">

            </div>
            <div class="active_labe_status">
                
            </div>
        </div>
    </div>
</div>
