
@{
    ViewBag.Title = "ListProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="List_Products" style="padding:4em 0;">

</div>
<div class="container" style="min-height:300px;padding:4em 0;">
    @Html.Partial("TemplateListProduct")
</div>
@section Scripts{
    <script src="~/Scripts/Product/ListProduct.js"></script>
}

